[mysqld]
server-id = 2
relay-log = /var/log/mysql/mysql-relay-bin.log
log_bin = /var/log/mysql/mysql-bin.log
gtid-mode = On
enforce-gtid-consistency = On
log-replica-updates = On
skip-replica-start = Off
